.btn{
    border-radius: 35px;
    height: 55px;
     &__green{
        background: $color-brand-green;
        color: $color-bg-grey;
        font-weight: 600;
         max-width: 500px;
         width: 450px;
         align-items: center;
         border-radius: 35px;
         height: 55px;
         display: flex;
         justify-content: center;
        &:hover{
           background: #0d9913;
           color: white;
        }
     }
}