/* menuPrincipal default*/

.menuPrincipal{
    position: absolute;
    width: 100%;
    margin: 50px 0;

    @media (max-width: $mobile) {
        position: initial;
        padding: 20px 0;
 
        img{
            width: 110px;
            margin: 15px 0 20px 0;
        }
     }

    .btn__green{
        width: 250px;
        @media (max-width: $mobile) {
            width: 100%;
         }
    }
}